<h2>User Dashboard</h2>

<p>Welcome to Gascar Parking</p>

<a class="btn btn-primary" href="#">Request Charging</a>
<a class="btn btn-danger" href="#">Exit Parking</a>
<a class="btn btn-secondary"
   asp-action="PaymentHistory">
   View Payment History
</a>
