<html>
<head>
    <title>Smart Parking</title>
    <meta charset="utf-8" />
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/Charging/Request">Richiedi ricarica</a> |
        <a href="/Admin/Dashboard">Admin</a>
    </nav>

    <hr />

    <div>
        @RenderBody()
    </div>
</body>
</html>
