@page
@model IndexModel

<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GASCAR</title>
  <link rel="stylesheet" href="~/css/site.css">
</head>
<body>

<header class="hero">
  <nav>
    <h1>GASCAR</h1>
    <ul>
      <li><a asp-page="/Login">Login</a></li>
      <li><a asp-page="/Register">Registrati</a></li>
      <li>b</a></li>
    </ul>
  </nav>

  <div class="hero-content">
    <h2>Il futuro della mobilità elettrica</h2>
    <p>Controlla, monitora e ricarica la tua auto elettrica con un’unica app.</p>
    <button>Scarica l’app</button>
  </div>
</header>

<section class="features">
  <div class="card">
    <h3>Batteria</h3>
    <p>Controlla la carica in tempo reale</p>
  </div>
  <div class="card">
    <h3>GPS</h3>
    <p>Trova la tua auto ovunque</p>
  </div>
  <div class="card">
    <h3>Ricarica</h3>
    <p>Trova colonnine vicine</p>
  </div>
</section>

<footer>
  <div class="container">
            &copy; 2026 - Gascar - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
</footer>

</body>
</html>
