@{
    ViewData["Title"] = "Dashboard Admin";
}

<h1>Dashboard Admin</h1>

<p>Benvenuto Admin 👑</p>

<ul>
    <li><a href="/Payments">Pagamenti</a></li>
    <li><a href="/Auth/Logout">Logout</a></li>
</ul>
