@{
    ViewData["Title"] = "Dashboard Driver";
}

<h1>Dashboard Driver</h1>

<p>Benvenuto Driver 🚗</p>

<ul>
    <li><a href="/Payments">Pagamenti</a></li>
    <li><a href="/Auth/Logout">Logout</a></li>
</ul>
